<script id="project-settings-tmpl" type="text/template">
    <table class="table table-hover">
        <tr class="js-enabled-line">
            <td>
                Enabled
            </td>
            <td>
                <div class="btn-group pull-right">
                    <button type="button"
                        class="btn js-yes
                            <% if (is_enabled) { %>
                                btn-success
                            <% } else { %>
                                btn-default
                            <% } %>
                    ">Yes</button>
                    <button type="button"
                        class="btn js-no
                            <% if (!is_enabled) { %>
                                btn-success
                            <% } else { %>
                                btn-default
                            <% } %>
                    ">No</button>
                </div>
            </td>
        </tr>
        <tr class="js-comment-line">
            <td>
                Comment from owner account
            </td>
            <td>
                <div class="btn-group pull-right">
                    <button type="button"
                        class="btn js-yes
                            <% if (comment_from_owner_account) { %>
                                btn-success
                            <% } else { %>
                                btn-default
                            <% } %>
                        ">Yes</button>
                    <button type="button"
                        class="btn js-no
                            <% if (!comment_from_owner_account) { %>
                                btn-success
                            <% } else { %>
                                btn-default
                            <% } %>
                        ">No</button>
                </div>
            </td>
        </tr>
    </table>
</script>
