<script id="project-task-line-tmpl" type="text/template">
    <td>
        <% if (showProjectName) { %>
            <a class='js-commit-name link-to-github' href='<%= commit.url %>'>
                <%= project %></a>:
        <% } %>
        <a href='/tasks/<%= id %>/' class='js-commit-name'>
            <%= commit.branch %>#<%= commit.range %>
        </a>
    </td>
    <% if (showCommitSummary) { %>
        <td>
            <a class='js-commit-name' href='/tasks/<%= id %>/'>
                 <%= commit.summary %>
            </a>
        </td>
    <% } %>
    <td>
        <span class="pull-right"><%= created.replace('T', ' ').slice(0, -7) %></span>
    </td>
</script>
