<script id="project-task-line-tmpl" type="text/template">
    <td>
        <% if (showProjectName) { %>
            <a class='js-commit-name' href='/projects/<%= project %>/'>
                <%= project %></a>:
        <% } %>
        <a href='/tasks/<%= id %>/' class='js-commit-name'>
            <%= commit.branch %>#<%= commit.hash.slice(0, 6) %>
        </a>
    </td>
    <% if (showCommitSummary) { %>
        <td>
            <a class='js-commit-name' href='https://github.com/<%= project %>/commit/<%= commit.hash %>'>
                <i class="icon-github"></i> <%= commit.summary %>
            </a>
        </td>
    <% } %>
    <td>
        <span class="pull-right"><%= created.replace('T', ' ').slice(0, -7) %></span>
    </td>
</script>
