.col-lg-12.row.index-block.index-odd-block.index-top-block
    .col-lg-12.row
        .col-lg-5.row
            h1 coviolations.io
            p.
                With coviolations you can check your code with pep8, coverage
                and many other tools after each push to your source code repository.
            a.btn.btn-default(href='/login/github/')
                i.fa.fa-github
                |  Sign in with GitHub
            a.btn.btn-default(href='https://coviolationsio.readthedocs.org/en/latest/')
                i.fa.fa-book
                |  Documentation
        img.col-lg-7.row(src='/static/images/how.svg')

.col-lg-12.row.index-block.index-even-block
    h2 Track code quality and detect "smell"
    .col-lg-12.row
        img.col-lg-6.img-rounded(src='/static/images/metrics.png')
        .col-lg-6
            p.
                You can detect "code smells", track source code quality and
                see trends with the following code metrics:
            p.
                Supported metrics:
                <code>pep8</code>, <code>sloccount</code>, <code>python unittest</code>,
                <code>pip-review</code>, <code>testem</code>, <code>coverage</code>,
                <code>xUnit</code> and<code>jslint</code>
            p.
                If the metric you need isn't in the list, you could easily write it
                and we will add it to the project.
            a.btn.btn-default(href='https://coviolationsio.readthedocs.org/en/latest/violations.html')
                i.fa.fa-plus
                |  Show how

.col-lg-12.row.index-block.index-odd-block
    .col-lg-12.row
        .col-lg-6.row
            h2 Visualise test results
            p
                | Coviolations works as a companion to CI tools like
                a(href='https://travis-ci.org/')  travis-ci
                |,
                a(href='https://drone.io/')  drone.io
                |  and
                a(href='http://jenkins-ci.org/')  jenkins-ci
                |. It creates convenient graphical representations of trends, code examples and many other code metrics.
            p You can see the total success/failed task charts here.
            a.btn.btn-default(href='#/projects/nvbn/coviolations_web/')
                i.fa.fa-bar-chart
                |  Show for this project
        .col-lg-5.row.col-lg-offset-1
            canvas.index-total-chart(piechart, options='chartOptions', data='chartData', width=350, height=350)
            br
            span.plot-color-line
                span.plot-color-row(style="background-color: {{successColor}}")
                |  success {{successPercent}}%
            span.plot-color-line
                span.plot-color-row(style="background-color: {{failedColor}}")
                |  failed {{failedPercent}}%

.col-lg-12.row.index-block.index-even-block
    h2 Find the best and worst time of day and week for your project
    .col-lg-12.row
        img.col-lg-6.img-rounded(src='/static/images/by_date.png')
        .col-lg-5.pull-right
            p.
                Coviolations calculates total success percentage, and the number of successful
                and failed tasks (grouped by day of week and time of day).
            p With these metrics you can pinpoint the time that you write your best code.
            a.btn.btn-default(href='#/projects/nvbn/coviolations_web/')
                i.fa.fa-bar-chart
                |  Show for this project


.col-lg-12.row.index-block.index-odd-block
    h2 Project monitoring over time
    .col-lg-12.row
        .col-lg-5
            p You can follow the ups and downs of the quality of your project.
            p We calculate and display trends over the last 100 pushes to the repository.
            p To access the dashboard, you need to sign in:
            a.btn.btn-default(href='/login/github/')
                i.fa.fa-github
                |  Sign in with GitHub
        img.col-lg-6.row.img-rounded.pull-right(src='/static/images/export.png')

.col-lg-12.row.index-block.index-even-block
    h2 Perfect integration with GitHub
    .col-lg-5.row
        img(src='/static/images/octocat.png')
    .col-lg-7.row
        p Coviolations has perfect integration with GitHub. It can:
        ul
            li build metrics for each push to your repository;
            li set a success or failed status to each commit;
            li create a summary report for Pull Requests;
            li comment lines of code with errors and warnings.
        a.btn.btn-default(href='https://github.com/nvbn/coviolations_web/commit/78aef2c2ea868888fd7dc9b8d29f66a3b0021a74')
            i.fa.fa-external-link
            |  Example

.col-lg-12.row.index-block.index-odd-block
    br
    span Coviolations is an open-source software, so you can access the source code on GitHub:&nbsp;
    a.btn.btn-default(href='https://github.com/nvbn/coviolations_web')
        i.fa.fa-github
        |  Server code
    a.btn.btn-default(href='https://github.com/nvbn/coviolations_app')
        i.fa.fa-github
        |  Client code

