nav.navbar.navbar-default(role='navigation')
    .navbar-header
        a.navbar-brand(href='/') coviolations &beta;
    .collapse.navbar-collapse
        a.btn.btn-default.navbar-btn(href='#')
            i.icon-wrench
            |  Manage projects
        a.btn.btn-default.navbar-btn.navbar-documentation(
            href='https://coviolationsio.readthedocs.org/en/latest/'
        )
            i.icon-book
            |  Documentation
        a.btn.btn-default.pull-right.navbar-btn(href='/logout/')
            i.icon-signout
            |  Sign out
