html, body
    height: 100%
    padding: 0

.how-to
    li
        margin-bottom: 10px

        pre
            margin-top: 10px
            padding-left: 10px

.top-message
    width: 100%
    display: block
    font-weight: normal
    font-size: 14px

#nprogress
    .bar
        z-index: 9999

    .spinner-icon
        display: none


a.get-badge
    text-decoration: none
    font-size: 16px

.badge-help
    margin-top: 10px

.plot-color-line
    line-height: 20px
    margin-left: 30px
    display: inline-block
    margin-bottom: 20px

    .plot-color-row
        display: inline-block
        width: 20px
        height: 20px
        margin-bottom: -5px

#main-container
    min-height: 100%
    height: auto !important
    margin: 0 auto -80px
    padding: 0 0 60px

footer
    padding: 0
    margin: 0
    padding-top: 50px

    .navbar
        margin-left: -15px
        height: 150px
        margin-bottom: 0
        padding-top: 20px

        .fork-me-badge
            img
                position: absolute
                top: 0
                right: 0
                border: 0

.generate-token-alert
    z-index: 500
    position: absolute
    right: 0
    top: 0

.small-avatar
    width: 20px
