{% extends 'base.html' %}
{% load static %}

{% block content %}
    <h1>{{ project }}: {{ commit.branch }}#{{ commit.hash|slice:'6' }}</h1>
    <div class='col-lg-12 row'>
        <p>
            {{ commit.summary }}
        </p>
        {% for violation in violations %}
            <div class='col-lg-6'>
                <h2>
                    {{ violation.name }}
                    <a
                        href='{% url 'tasks_raw' pk forloop.counter0 %}'
                        class='btn btn-default'
                        target="_blank"
                    >Show raw</a>
                </h2>
                {{ violation.prepared|safe }}
            </div>
        {% endfor %}
    </div>
{% endblock %}
