{% extends 'base.html' %}
{% load static %}

{% block title %}
    {{ project }} {{ commit.branch }}#{{ commit.range }}
{% endblock %}

{% block content %}
    <h1>
        <a class='link-to-github' href='https://github.com/{{ project.name }}'>
            <i class="icon-github"></i>
        </a>
        {% if project.is_private %}
            <i class="icon-lock"></i>
        {% endif %}
        <a href='{% url 'projects_project' project.name %}'>{{ project.name }}</a>:
        {{ commit.branch }}#{{ commit.range }}
    </h1>
    <div class='col-lg-12 row'>
        <h3>
            <a class='link-to-github' href='{{ commit.url }}'>
                {{ commit.summary }}
            </a>
        </h3>
        <table class='table table-hover table-striped'>
        {% for inner in commit.inner %}
            <tr>
                <td>
                    <a class='link-to-github' href='{{ inner.url }}' class='pull-left'>
                        #{{ inner.hash }}
                    </a>
                </td>
                <td>
                    <a class='link-to-github' href='{{ inner.author.url }}' class='pull-left'>
                        <img class='small-avatar' src='{{ inner.author.avatar }}' />
                        {{ inner.author.name }}
                    </a>
                </td>
                <td>
                    {{ inner.message }}
                </td>
            </tr>
        {% endfor %}
        </table>
        {% for violation in violations %}
            <div class='col-lg-6'>
                <h2>
                    {{ violation.name }}
                    <a
                        href='{% url 'tasks_raw' pk forloop.counter0 %}'
                        class='btn btn-default'
                        target="_blank"
                    >Show raw</a>
                </h2>
                {{ violation.prepared|safe }}
            </div>
        {% endfor %}
    </div>
{% endblock %}
