{% extends 'base.html' %}
{% load static %}

{% block title %}
    {{ project }} {{ commit.branch }}#{{ commit.range }}
{% endblock %}

{% block extrahead %}
    <script type="text/javascript">
        window.project = '{{ project|escapejs }}';
        window.commit = '{{ commit.hash|escapejs }}';
    </script>
    <script
        type="text/javascript"
        src='{% static 'coffee/detail_task.js' %}'
    ></script>
{% endblock %}

{% block bodyattrs %}
    data-spy="scroll"
    data-target="#violations-menu"
    data-offset="70"
{% endblock %}

{% block content %}
    <h1>
        <a class='link-to-github' href='https://github.com/{{ project.name }}'>
            <i class="icon-github"></i>
        </a>
        {% if project.is_private %}
            <i class="icon-lock"></i>
        {% endif %}
        <a href='{% url 'projects_project' project.name %}'>{{ project.name }}</a>:
        {{ commit.branch }}#{{ commit.range }}
    </h1>
    <div class='col-lg-12 row'>
        <h3>
            <a class='link-to-github' href='{{ commit.url }}'>
                {{ commit.summary }}
            </a>
        </h3>
        <table class='table table-hover table-striped'>
        {% for inner in commit.inner %}
            <tr>
                <td>
                    <a class='link-to-github' href='{{ inner.url }}' class='pull-left'>
                        #{{ inner.hash }}
                    </a>
                </td>
                <td>
                    <a class='link-to-github' href='{{ inner.author.url }}' class='pull-left'>
                        <img class='small-avatar' src='{{ inner.author.avatar }}' />
                        {{ inner.author.name }}
                    </a>
                </td>
                <td>
                    {{ inner.message }}
                </td>
            </tr>
        {% endfor %}
        </table>
        <div class='col-lg-12 row js-violations-menu' id='violations-menu'>
            <ul class="nav nav-pills">
                <li>
                    <h3>Violations:</h3>
                </li>
                {% for violation in violations %}
                    <li>
                        <a href='#{{ violation.name }}'>
                            {{ violation.name }}
                            {% if violation.status == 2 %}
                                <i class="icon-warning-sign"></i>
                            {% endif %}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
        {% for violation in violations %}
            <div class='
                col-lg-12
                violation-block
                {% if forloop.first %}js-first-violation{% endif %}'
                id='{{ violation.name }}'
            >
                <h2>
                    {{ violation.name }}
                    <a
                        href='{% url 'tasks_raw' pk forloop.counter0 %}'
                        class='btn btn-default'
                        target="_blank"
                    >Show raw</a>
                </h2>
                {{ violation.prepared|safe }}
            </div>
        {% endfor %}
    </div>
{% endblock %}
