{% extends 'base.html' %}
{% load static %}

{% block extrahead %}
    <script
        type="text/javascript"
        src='{% static 'coffee/project.js' %}'
    ></script>
    {% include 'projects/project/task_line.html' %}
{% endblock %}

{% block content %}
    <h1>
        {{ project }}
        <a href='https://github.com/{{ project.name }}'>
            <i class="icon-github"></i>
        </a>
    </h1>

    <div class='row col-lg-12 '>
        <table class="table table-hover js-task-line-list">
        </table>
    </div>
{% endblock %}
