{% extends 'base.html' %}
{% load static %}

{% block extrahead %}
    <script type="text/javascript">
        var project = '{{ project.name|escapejs }}';
    </script>
    <script
        type="text/javascript"
        src='{% static 'coffee/project.js' %}'
    ></script>
    {% include 'projects/project/task_line.html' %}
    {% include 'projects/project/task_line_popover.html' %}
    {% include 'projects/project/violation_plot.html' %}
{% endblock %}

{% block title %}
    {{ project }}
{% endblock %}

{% block content %}
    <h1>
        <a href='https://github.com/{{ project.name }}'>
            <i class="icon-github"></i>
        </a>
        {{ project }}
    </h1>
    <div class="col-lg-12">
        <a
            href='#'
            class='get-badge js-get-badge'
            data-toggle="collapse" data-target="#js-get-badge-in"
        >
            <i class="icon-collapse"></i> Get badge:
            <img src='{{ project.get_badge_url }}' />
        </a>

        <div id='js-get-badge-in' class='collapse row col-lg-12 well badge-help'>
            <div class='col-lg-4'>
                <strong>MARKDOWN</strong>
<pre class="prettyprint languague-markdown">
[![Violations]({{ project.get_badge_url }})]
(http://{{ SITE.domain }}{% url 'projects_project' project.name %})
</pre>
            </div>

            <div class='col-lg-4'>
                <strong>HTML</strong>
<pre class="prettyprint languague-html">
&lt;a href='http://{{ SITE.domain }}{% url 'projects_project' project.name %}'&gt;
    &lt;img src='{{ project.get_badge_url }}' alt='Violations' /&gt;
&lt;/a&gt;
</pre>
            </div>

            <div class='col-lg-4'>
                <strong>RST</strong>
<pre class="prettyprint languague-rst">
.. image:: {{ project.get_badge_url }}
    :target: http://{{ SITE.domain }}{% url 'projects_project' project.name %}
</pre>
            </div>
        </div>
    </div>
    <div class='row col-lg-12 js-charts-holder'></div>

    <div class='row col-lg-12'>
        <table class="table table-hover js-task-line-list">
        </table>
    </div>
{% endblock %}
