{% extends 'base.html' %}
{% load static %}

{% block extrahead %}
    <script type="text/javascript">
        var project = '{{ project.name|escapejs }}';
    </script>
    <script
        type="text/javascript"
        src='{% static 'coffee/project.js' %}'
    ></script>
    {% include 'projects/project/task_line.html' %}
    {% include 'projects/project/task_line_popover.html' %}
    {% include 'projects/project/violation_plot.html' %}
{% endblock %}

{% block content %}
    <h1>
        {{ project }}
        <a href='https://github.com/{{ project.name }}'>
            <i class="icon-github"></i>
        </a>
    </h1>

    <div class='row col-lg-12 js-charts-holder'></div>

    <div class='row col-lg-12'>
        <table class="table table-hover js-task-line-list">
        </table>
    </div>
{% endblock %}
