$title-font: 20pt
$main-font: 15pt
$button-offset: 5pt
$success-color: #dff0d8
$fail-color: #f2dede

.plot-color-line
    margin-left: 10pt
    line-height: 20pt

    .plot-color-row
        display: inline-block
        width: 20pt
        height: 20pt
        margin-bottom: -4pt


.navbar-documentation
    margin-left: 10pt


.index-block
    padding-bottom: 10pt
    font-size: $main-font

    a.btn
        margin-right: $button-offset
        font-size: $main-font

.index-odd-block
    background: $success-color

.index-even-block
    background: $fail-color

.index-top-block
    padding-top: 10pt
