<!DOCTYPE html><html lang="ru"><head><title>coviolations.io</title><link rel="icon" type="image/png" href="/static/images/favicon.png"><link rel="stylesheet" href="/static/bootstrap/dist/css/bootstrap.css"><link rel="stylesheet" href="/static/font-awesome/css/font-awesome.min.css"><link rel="stylesheet" href="/static/ngprogress/ngProgress.css"><link rel="stylesheet" href="/static/google-code-prettify/distrib/google-code-prettify/prettify.css"><link rel="stylesheet" href="/static/nvd3/nv.d3.min.css"><link rel="stylesheet" href="/static/styles/main.css"><script type="text/javascript">var successTasks = {{ success }};
var failedTasks = {{ failed }};
var isAuthenticated = {% if user.is_authenticated %} true {% else %} false {% endif %};
var domain = '{{ site.domain }}';
var debug = {% if debug %} true {% else %} false {% endif %};
{% if user.is_authenticated %}
    var user = '{{ user.username }}';
{% endif %}</script></head><body><div ng-view class="container"></div></body><script data-main="/static/scripts/main" src="/static/requirejs/require.js"></script></html>