doctype 5
html(lang='ru')
    head
        title coviolations.io
        link(rel='stylesheet', href='/static/bootstrap/dist/css/bootstrap.css')
        link(rel='stylesheet', href='/static/font-awesome/css/font-awesome.min.css')
        link(rel='stylesheet', href='/static/styles/main.css')
        script(src='/testem/jasmine.js')
        script(src='/testem.js')
        script(src='/testem/jasmine-html.js')
        script(src='../chai/chai.js')
        script(src='../sinon/lib/sinon.js')
        script(type='text/javascript').
            var successTasks = 30;
            var failedTasks = 50;
            var isAuthenticated = true;
            var testSuite = true;
    body
        .container(ng-view)
    script(data-main='/static/scripts/main', src='/static/requirejs/require.js')
