<script id="manage-project-line-tmpl" type="text/template">
    <td>
        <% if (icon) { %>
            <img src='<%= icon %>' class='small-avatar' />
        <% } %>
        <a href='/projects/<%= name %>/'><%= name %></a>
        <% if (is_private) { %>
            <i class="icon-lock"></i>
        <% } %>
    </td>
    <td>
        <div class="btn-group pull-right">
            <button type="button"
                class="btn js-yes
                    <% if (is_enabled){ %>
                        btn-success
                    <% } else { %>
                        btn-default
                    <% } %>">Yes</button>
            <button type="button"
                class="btn js-no
                    <% if (is_enabled){ %>
                        btn-default
                    <% } else { %>
                        btn-danger
                    <% } %>
                ">No</button>
        </div>
    </td>
</script>
