<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta charset="utf-8" />
    <title>coviolations &alpha; /{% block title %}{% endblock %}</title>
    <link
        rel="stylesheet"
        href="{% static 'bootstrap/dist/css/bootstrap.min.css' %}"
    />
    <link
        rel="stylesheet"
        href="{% static 'google-code-prettify/src/prettify.css' %}"
    />
    <link
        rel="stylesheet"
        href="{% static 'font-awesome/css/font-awesome.min.css' %}"
    />
    <link
        rel="stylesheet"
        href="{% static 'nprogress/nprogress.css' %}"
    />
    <link
        rel="stylesheet"
        href="{% static 'sass/style.css' %}"
    />
    <script
        type="text/javascript"
        src='{% static 'jquery/jquery.min.js' %}'
    ></script>
    <script
        type="text/javascript"
        src='{% static 'bootstrap/dist/js/bootstrap.min.js' %}'
    ></script>
    <script
        type="text/javascript"
        src='{% static 'underscore/underscore-min.js' %}'
    ></script>
    <script
        type="text/javascript"
        src='{% static 'backbone/backbone-min.js' %}'
    ></script>
    <script
        type="text/javascript"
        src='{% static 'backbone-tastypie/backbone_tastypie/static/js/backbone-tastypie.js' %}'
    ></script>
    <script
        type='text/javascript'
        src="{% static 'nnnick-chartjs/Chart.min.js' %}"
    ></script>
    <script
        type='text/javascript'
        src="{% static 'google-code-prettify/distrib/google-code-prettify/prettify.js' %}"
    ></script>
    <script
        type='text/javascript'
        src="{% static 'google-code-prettify/distrib/google-code-prettify/prettify.js' %}"
    ></script>
    <script
        type='text/javascript'
        src="{% static 'sockjs-client/sockjs.min.js' %}"
    ></script>
    <script
        type='text/javascript'
        src="{% static 'nprogress/nprogress.js' %}"
    ></script>
    <script
        type='text/javascript'
        src="{% static 'coffee/models.js' %}"
    ></script>
    <script
        type='text/javascript'
        src="{% static 'coffee/views.js' %}"
    ></script>
    <script
        type='text/javascript'
        src="{% static 'coffee/push.js' %}"
    ></script>
    <script
        type='text/javascript'
        src="{% static 'coffee/plottings.js' %}"
    ></script>
    {% block extrahead %}{% endblock %}
    <script type="text/javascript">
        var userId = {{ user.id|default_if_none:'undefined'|escapejs }};
        var pushBind = '{{ push_bind|escapejs }}';
    </script>
</head>
<body>
    {% for message in messages %}
        <span class="label label-success top-message">{{ message }}</span>
    {% endfor %}
    <div class='container' id='main-container'>
        <nav class="navbar navbar-default" role="navigation">
            <div class="navbar-header">
                <a class="navbar-brand" href="{% url 'home' %}">
                    coviolations &alpha;
                </a>
            </div>
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                {% if user.is_authenticated %}
                    <a
                        class='btn btn-default navbar-btn'
                        href='{% url 'projects_manage' %}'>
                        <i class="icon-wrench"></i> Manage projects
                    </a>
                    <a
                        class='btn btn-default navbar-btn'
                        href='https://coviolationsio.readthedocs.org/en/latest/'>
                        <i class="icon-info-sign"></i> Documentation
                    </a>
                    <a
                        class='btn btn-default navbar-btn pull-right'
                        href='{% url 'logout' %}'>
                        <i class="icon-signout"></i> Sign out
                    </a>
                {% else %}
                    <a
                        class='btn btn-default navbar-btn'
                        href='https://coviolationsio.readthedocs.org/en/latest/'>
                        <i class="icon-info-sign"></i> Documentation
                    </a>
                    <a
                        class='btn btn-default navbar-btn pull-right'
                        href='{% url 'socialauth_begin' 'github' %}'
                    >
                        <i class="icon-signin"></i> Sign in with github
                    </a>
                {% endif %}
            </div>
        </nav>
        {% block content %}
        {% endblock %}
    </div>

    <footer>
        <div class="container">
            <div class='col-lg-12 navbar navbar-default'>
                <p class="text-muted credit">Coviolations is opensource software: <a href='https://github.com/nvbn/coviolations_web'>server</a> and <a href='https://github.com/nvbn/coviolations_app'>app</a></p>
                <p class="text-muted credit">Fresh documentation available on: <a href='https://coviolationsio.readthedocs.org/en/latest/'>read the docs</a></p>
                <p class="text-muted credit">If you have questions: <a href='mailto:nvbn.rm@gmail.com'>nvbn.rm@gmail.com</a></p>
                <a href="https://github.com/nvbn/coviolations_web/" class='fork-me-badge'>
                    <img src="{% static 'img/fork_me.png' %}" alt="Fork me on GitHub">
                </a>
            </div>
        </div>
    </footer>
</body>
</html>