<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta charset="utf-8" />
    <title>coviolations/{% block title %}{% endblock %}</title>
    <link
        rel="stylesheet"
        href="{% static 'bootstrap/dist/css/bootstrap.min.css' %}"
    />
    <link
        rel="stylesheet"
        href="{% static 'google-code-prettify/src/prettify.css' %}"
    />
    <link
        rel="stylesheet"
        href="{% static 'font-awesome/css/font-awesome.min.css' %}"
    />
    <link
        rel="stylesheet"
        href="{% static 'nprogress/nprogress.css' %}"
    />
    <link
        rel="stylesheet"
        href="{% static 'sass/style.css' %}"
    />
    <script
        type="text/javascript"
        src='{% static 'jquery/jquery.min.js' %}'
    ></script>
    <script
        type="text/javascript"
        src='{% static 'bootstrap/dist/js/bootstrap.min.js' %}'
    ></script>
    <script
        type="text/javascript"
        src='{% static 'underscore/underscore-min.js' %}'
    ></script>
    <script
        type="text/javascript"
        src='{% static 'backbone/backbone-min.js' %}'
    ></script>
    <script
        type="text/javascript"
        src='{% static 'backbone-tastypie/backbone_tastypie/static/js/backbone-tastypie.js' %}'
    ></script>
    <script
        type='text/javascript'
        src="{% static 'nnnick-chartjs/Chart.min.js' %}"
    ></script>
    <script
        type='text/javascript'
        src="{% static 'google-code-prettify/src/prettify.js' %}"
    ></script>
    <script
        type='text/javascript'
        src="{% static 'google-code-prettify/src/prettify.js' %}"
    ></script>
    <script
        type='text/javascript'
        src="{% static 'sockjs-client/sockjs.min.js' %}"
    ></script>
    <script
        type='text/javascript'
        src="{% static 'nprogress/nprogress.js' %}"
    ></script>
    <script
        type='text/javascript'
        src="{% static 'coffee/models.js' %}"
    ></script>
    <script
        type='text/javascript'
        src="{% static 'coffee/views.js' %}"
    ></script>
    <script
        type='text/javascript'
        src="{% static 'coffee/push.js' %}"
    ></script>
    {% block extrahead %}{% endblock %}
    <script type="text/javascript">
        var userId = {{ user.id|escapejs }};
        var pushBind = '{{ push_bind|escapejs }}';
    </script>
</head>
<body>
    {% for message in messages %}
        <span class="label label-success top-message">{{ message }}</span>
    {% endfor %}
    <div class='container'>
        <nav class="navbar navbar-default" role="navigation">
            <div class="navbar-header">
                <a class="navbar-brand" href="{% url 'home' %}">coviolations</a>
            </div>
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                {% if user.is_authenticated %}
                    <a
                        class='btn btn-default navbar-btn'
                        href='{% url 'projects_manage' %}'>
                        Manage projects
                    </a>
                    <a
                        class='btn btn-default navbar-btn'
                        href='https://coviolationsio.readthedocs.org/en/latest/'>
                        See docs
                    </a>
                    <a
                        class='btn btn-default navbar-btn pull-right'
                        href='{% url 'logout' %}'>
                        Sign out
                    </a>
                {% else %}
                    <a
                        class='btn btn-default navbar-btn'
                        href='https://coviolationsio.readthedocs.org/en/latest/'>
                        See docs
                    </a>
                    <a
                        class='btn btn-default navbar-btn pull-right'
                        href='{% url 'socialauth_begin' 'github' %}'
                    >
                        Sign in with github
                    </a>
                {% endif %}
            </div>
        </nav>
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>