{% extends 'base.html' %}
{% load static %}

{% block title %}
    Welcome
{% endblock %}

{% block extrahead %}
    <script type="text/javascript">
        var failedPercent = {{ failed }};
        var successPercent = {{ success }};
    </script>
    <script
        type="text/javascript"
        src='{% static 'coffee/index.js' %}'
    ></script>
    {% include 'projects/manage/project_line.html' %}
    {% include 'projects/project/task_line.html' %}
    {% include 'index/statistic.html' %}
{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
        <div class='col-lg-12 row'>
            <div class='col-lg-6'>
                <h2>Enabled projects</h2>
                <table class="table table-hover col-lg-6 js-enabled-projects">
                    <tr><td>Loading...</td></tr>
                </table>
            </div>
            <div class='col-lg-6'>
                <h2>Last tasks</h2>
                <table class="table table-hover col-lg-6 js-last-tasks">
                    <tr><td>Loading...</td></tr>
                </table>
            </div>
        </div>
    {% endif %}
    <div class='col-lg-12 row slider-holder'>
        <div class='col-lg-6'>
            <h2>Why coviolations?</h2>
            <p>With coviolations you can:</p>
            <ul>
                <li>checking your code with pep8, coverage and many other tools;</li>
                <li>create fancy commit representation;</li>
                <li>control code quality with trending graphs;</li>
                <li>show fancy test result representation.</li>
            </ul>
            <h2>How it works?</h2>
            <p>When you push code to github repository, your ci tool run violations and tests on your code and send to coviolations. After that, coviolations parse test and violations result and create fancy representation.</p>
        </div>
        <div class='col-lg-6'>
            <img class='left-svg' src='{% static 'img/how.svg' %}' />
        </div>
    </div>
    <div class='col-lg-12 row'>
        <div class='col-lg-6 js-how-to'>
            <h2>
                How-to use with
                <div class="btn-group" data-toggle="buttons">
                    <label
                        class="how-to-btn btn btn-default active"
                        data-show='.js-travis-ci-how-to'
                    >
                        <input
                            checked='checked'
                            type="radio"
                            name="how-to-ci"
                        />
                        travis-ci
                    </label>
                    <label
                        class="how-to-btn btn btn-default"
                        data-show='.js-drone-io-how-to'
                    >
                        <input
                            type="radio"
                            name="how-to-ci"
                        />
                        drone.io
                    </label>
                    <label
                        class="how-to-btn btn btn-default"
                        data-show='.js-jenkins-how-to'
                    >
                        <input
                            type="radio"
                            name="how-to-ci"
                        />
                        jenkins
                    </label>
                </div>
            </h2>
            <ol class='how-to'>
                <li>
                    Create <code>.covio.yml</code> with violations and project name:
                    <pre class="prettyprint languague-yaml">
violations:
  pep8: pep8 . --exclude='*migrations*'
  sloccount: sloccount .</pre>
                </li>
                <li>Enable project in <a href='{% url 'projects_manage' %}'>management page</a>.</li>
                <li>
                    <div class='js-travis-ci-how-to js-how-to-part'>
                        Add dependency installation and <code>covio</code> call to <code>.travis.yml</code>:
                        <pre class="prettyprint languague-yaml">
before_install:
  - pip install pep8
  - sudo apt-get update -qq
  - sudo apt-get install -qq sloccount
after_script:
  - pip install coviolations_app
  - covio</pre>
                    </div>
                    <div class='js-drone-io-how-to js-how-to-part hidden'>
                        Add dependency installation and <code>covio</code> call to build script:
                        <pre class="prettyprint languague-bash">
pip install pep8
sudo apt-get update -qq
sudo apt-get install -qq sloccount
pip install coviolations_app
COVIO_TOKEN="token" covio</pre>
                        Replace <code>token</code> with project token from project page.
                    </div>
                    <div class='js-jenkins-how-to js-how-to-part hidden'>
                        Add <code>covio</code> call to build script:
                        <pre class="prettyprint languague-bash">
pip install coviolations_app
COVIO_TOKEN="token" covio</pre>
                        Replace <code>token</code> with project token from project page.<br />
                        With jenkins you need install dependencies manual.
                    </div>
                </li>
            </ol>
        </div>
        <div class='col-lg-6'>
            <h2>Available violations</h2>
            <ul class='how-to'>
                <li><code>pep8</code></li>
                <li><code>sloccount</code></li>
                <li><code>py_unittest</code></li>
                <li><code>pip_review</code></li>
                <li><code>testem</code></li>
                <li><code>coverage</code></li>
            </ul>
        </div>
    </div>
    <div class='col-lg-12 row'>
        <div id='js-statistic' class='col-lg-6'></div>
        <div class='col-lg-6'>
            <h2>Tasks feed</h2>
            <table class="table table-hover col-lg-6 js-tasks-feed">
                <tr><td>Loading...</td></tr>
            </table>
        </div>
    </div>
{% endblock %}
